.container {
  max-width: 850px;
}

.card {
  background-color: rgb(255, 219, 219);
  max-width: 410px;
  padding: 13px 40px;
}

.card-body {
  padding: 0;
  align-items: center;
}

.card-text {
  margin: 0;
  font-weight: 500;
  color: rgb(149, 21, 21);
}